* {
  padding: 0;
  margin: 0;
}

body header .fondo_header {
  display: grid;
  justify-content: center;
  grid-template-columns: 1;
  grid-template-rows: 4;
  height: 400px;
  align-items: center;
  background-image: url("/multimedia/imagenes/header/fondo_header.jpg");
  opacity: 94%;
}
body header .fondo_header h1, body header .fondo_header h2 {
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
  color: #15b69b;
  padding: 10px;
  background-color: #070707d3;
  border-radius: 20px;
}
body header .fondo_header .foto {
  margin-left: 30%;
  grid-column: 1/2;
  grid-row: 2/4;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
body header .fondo_header h2 {
  grid-column: 1/2;
  grid-row: 4/5;
}
body main {
  background-color: #046857;
}
body main .aboutme {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
}
body main .aboutme .descripcion, body main .aboutme .hobbies {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  background-color: #07070785;
  border-radius: 20px;
}
body main .aboutme .descripcion h2, body main .aboutme .hobbies h2 {
  text-align: start;
  padding-left: 5%;
  font-size: 25px;
  color: #15b69b;
}
body main .aboutme .descripcion p, body main .aboutme .hobbies p {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 18px;
  color: #ffffff;
}
body main section div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}
body main section .terminados {
  display: flex;
  justify-content: space-evenly;
  padding-left: 15%;
  padding-right: 15%;
  flex-wrap: wrap;
}
body main section .terminados .logos {
  display: flex;
  flex-direction: column;
}
body main section .terminados .logos:hover {
  transform: scale(1.1);
  background-color: #ffffff15;
  border-radius: 20%;
}
body main section .terminados .logos:hover h3 {
  color: #ffffff;
}
body main section .terminados .logos h3 {
  text-align: center;
  color: #046857;
}
body main section .terminados .logos .img_html, body main section .terminados .logos .img_flask, body main section .terminados .logos .img_django, body main section .terminados .logos .img_javascripts, body main section .terminados .logos .img_mysql, body main section .terminados .logos .img_python, body main section .terminados .logos .img_github, body main section .terminados .logos .img_git, body main section .terminados .logos .img_bootstrap, body main section .terminados .logos .img_sass, body main section .terminados .logos .img_css {
  background-image: url("../../multimedia/imagenes/logos/html_logo.png");
  padding: 10px;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
}
body main section .terminados .logos .img_css {
  background-image: url("../../multimedia/imagenes/logos/css_logo.png");
}
body main section .terminados .logos .img_sass {
  background-image: url("../../multimedia/imagenes/logos/sass_logo.png");
}
body main section .terminados .logos .img_bootstrap {
  background-image: url("../../multimedia/imagenes/logos/Bootstrap_logo.png");
}
body main section .terminados .logos .img_git {
  background-image: url("../../multimedia/imagenes/logos/git_logo.png");
}
body main section .terminados .logos .img_github {
  background-image: url("../../multimedia/imagenes/logos/GitHub_logo.png");
}
body main section .terminados .logos .img_python {
  background-image: url("../../multimedia/imagenes/logos/python_logo.png");
}
body main section .terminados .logos .img_mysql {
  background-image: url("../../multimedia/imagenes/logos/mysql_logo.png");
}
body main section .terminados .logos .img_javascripts {
  background-image: url("../../multimedia/imagenes/logos/javascript_logo.png");
}
body main section .terminados .logos .img_django {
  background-image: url("../../multimedia/imagenes/logos/django_logo.png");
}
body main section .terminados .logos .img_flask {
  background-image: url("../../multimedia/imagenes/logos/flask_logo.png");
}

/*# sourceMappingURL=style.css.map */
