
body{
    header{
        .fondo_header{
            display: grid;
            justify-content: center;
            grid-template-columns: 1;
            grid-template-rows: 4;
            height: 400px;
            align-items: center;
            background-image: url("../multimedia/imagenes/header/fondo_header.jpg");
            opacity: 94%;      
            h1{
                grid-column: 1/2;
                grid-row: 1/2;
                text-align: center;
                color: $color2;
                padding: 10px;
                background-color: #070707d3;
                border-radius: 20px;
            }
            .foto{
                margin-left: 30%;
                grid-column: 1/2;
                grid-row: 2/4;
                width: 200px;
                height: 200px;
                border-radius: 50%;
            } 
            h2{
                grid-column: 1/2;
                grid-row: 4/5;
                @extend h1     
            }        
        }
    }
}