@import "../base/variantes";
    
@media only screen and (min-width: 720px) and (max-width: 1280px){
    body{
        header{
            .fondo_header{
                height: 300px;     
                .foto{
                    width: 150px;
                    height: 150px;
                }                 
            }
        }
        main{
            .aboutme{
                padding-left: 2%;
                padding-right: 2%;
                .descripcion{
                    h2{
                        font-size: 22px;
                    }
                    p{
                        font-size: 15px;
                    }
                }
            }
            section{
                h2{
                    margin-left: 5%;
                    margin-right: 5%;
                }
                .estudios{
                    margin-left: 5%;
                    margin-right: 5%;
                    .terminados{
                        padding-left: 2%;
                        padding-right: 2%;
                        .logos{
                            h4{
                                font-size: 16px;
                            }
                            .img_html{
                                width: 100px;
                                height: 100px;
                            }
                        }
                    } 
                    .img_dipDW{
                        width: 550px;
                        height: 400px;
                    }
                }   
            }
            section{
                .trabajosR{
                    margin-left: 5%;
                    margin-right: 5%;
                    div{
                        width: 49%;
                    }
                }
            }
        }
    }
}
